---
---

<section>
  <h2 class="h2">Entes colaboradores</h2>
  <div class="img-1">
    <img
      class="img-1-1"
      src="./img/colaboradores/Logo_GDR_TierraAgua.png"
      alt="Logo GDR tierra y agua"
    />
    <img
      class="img-1-1"
      src="./img/colaboradores/Logo_GaliciaSuroeste.png"
      alt="Logo Galicia suroeste"
    />
    <img
      class="img-1-1"
      src="./img/colaboradores/Logo_GDR_PontevedraMorrazo.png"
      alt="Logo GDR Pontevedra Morrazo"
    />
    <img
      class="img-1-1"
      src="./img/colaboradores/Logo_Deloa.png"
      alt="Logo Deloa"
    />
    <img
      class="img-1-1"
      src="./img/colaboradores/Logo_TierrasCompostela.png"
      alt="Logo Tierras de compostela"
    />
  </div>
  <div class="img-2">
    <img
      class="img-2-1"
      src="./img/colaboradores/Logo_GDR_CostaMorte.png"
      alt="Logo GDR Costa da morte"
    />
    <img
      class="img-2-1"
      src="./img/colaboradores/Logo_XuntaGalicia.png"
      alt="Logo Xunta de Galicia"
    />
    <img
      class="img-2-1"
      src="./img/colaboradores/Logo_FinanciacionEuropea.png"
      alt="Logo Finanaciación Europea"
    />
    <img
      class="img-2-1"
      src="./img/colaboradores/Logo_MinisterioAgricultura.png"
      alt="Logo Ministerio de Agricultura"
    />
  </div>
</section>

<style>
    .h2 {
        margin-top: 10%;
        margin-bottom: 5%;
        font-family: var(--font-primary);
        color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagenes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }

    .img-2-1 {
      width: 150px;
    }
  }

  @media (max-width: 480px) {
    .img-1-1 {
      width: 50px;
    }
    .img-2 {
      padding-top: 10px;
    }

    .img-2-1 {
      width: 100px;
    }
  }

  @media (max-width: 424px) {
    .img-1 {
      flex-direction: column;
    }

    .img-1-1 {
      padding-bottom: 15px;
    }

    .img-2 {
      flex-direction: column;
    }

    .img-2-1 {
      padding-bottom: 15px;
    }
  }
</style>
