---

---

<footer class="footer">

        <div class="footer__title">
            <img src="img/Bitmap.png" alt="via mariana">
            <p>La Vía Mariana Luso-Galaica recupera y promueve un itinerario de peregrinación entre santuarios marianos.</p>
            <div class="footer__social">
                <button><img src="img/facebook.svg" alt="facebook"></button>
                <button><img src="img/instagram.svg" alt="instagram"></button>
                <button><img src="img/linkedin.svg" alt="linkedin"></button>
            </div>
    
        </div>
        <div class="footer__menus">
    
            <div class="footer__menu">
                <p class="menu--title">Mapa del sitio</p>
                <a href="#">Inicio</a>
                <a href="/via-mariana">Via mariana</a>
                <a href="/la-ruta">La ruta</a>
                <a href="/patrimonio">Patrimonio</a>
                <a href="/el-proyecto">El proyecto</a>
            </div>
    
            <div class="footer__menu">
                <p class="menu--title">Contacto</p>
                <a href="/contacto">Soporte</a>
                <a href="/contacto">Ayuda</a>
                
            </div>
    
            <div class="footer__menu">
                <p class="menu--title">Encuentranos</p>
                <a href="#">(62) 1111 2222</a>
                <a href="#">viamariana@gmail.com</a>
                <p>Villagarcia de Arousa</p>
            </div>
        </div>
</footer>

<style>

    .footer{
        color: white;
        background-color: rgba(0, 55, 143, 1);
        width: 100dvw;

        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px 0;

    }
    .footer__title{
        width: 355px;

    }

    button{
        background:none;
        border: none;
    }
    .menu--title{
        font-size: 20px;
        font-weight: bold;
    }

    .footer__menus{
        display:flex;
        gap: 100px;
    }

    .footer__menu{
        display:flex;
        flex-direction: column;
        gap: 30px;
    }
    a{
        text-decoration: none;
        color: white;
    }

    @media (max-width:1024px) {
        .footer{
            flex-direction: row;
            gap: 30px;
        }
        
    }


    @media (max-width:768px) {
        .footer{
            flex-direction: column;
            gap: 30px;
        }
        .footer__social{
            display: flex;
            gap: 10px;
            justify-content: center;
        }
        .footer__menus{
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;
        }

        .footer__menu{
            justify-content: start;
            align-items: center;
        }
    }
    @media (max-width:390px) {
        .footer{
            flex-direction: column;
            gap: 30px;
        }
        .footer__title{
            width: 100%;
        }
        .footer__title p{
            text-align: center;
        }
        .footer__social{
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .footer__menus{
            flex-direction: column;
            gap: 30px;
        }
        
    }
</style>