---
import ImageGallery from "../ui/ImageGallery.astro";

const religiousImages = [
  { file: "bomjesus.png", alt: "Bom Jesus" },
  { file: "bomjesus1.png", alt: "Bom Jesus 1" },
  { file: "bomjesus2.png", alt: "Bom Jesus 2" },
  { file: "bomjesus3.png", alt: "Bom Jesus 3" },
  { file: "bomjesus4.png", alt: "Bom Jesus 4" },
  { file: "bomjesus5.png", alt: "Bom Jesus 5" },
  { file: "Capilla-los-Martores.jpg", alt: "Capilla los Martores" },
  { file: "Casa ReitoBarcia-de- Mera.jpg", alt: "Casa ReitoBarcia de Mera" },
  { file: "Catedral-Braga.png", alt: "Catedral Braga" },
  { file: "historiaimg.png", alt: "Historia" },
  { file: "Iglesia-de-Fiaes.jpg", alt: "Iglesia de Fiaes" },
  { file: "iglesia-mª-baños.png", alt: "Iglesia María Baños" },
  { file: "iglesia-moraime.png", alt: "Iglesia Moraime" },
  { file: "Iglesia-moraime2.png", alt: "Iglesia Moraime 2" },
  { file: "milagros-de-amil.jpg", alt: "Milagros de Amil" },
  { file: "Soajo.jpg", alt: "Soajo" },
  { file: "sra-da-escravitude.jpg", alt: "Senhora da Escravitude" },
  { file: "sra-da-franqueira.jpg", alt: "Senhora da Franqueira" },
  { file: "sra-da-peneda.jpg", alt: "Senhora da Peneda" },
  { file: "sra-de-sameiro.png", alt: "Senhora do Sameiro" },
  { file: "sra-del-sameiro.png", alt: "Senhora do Sameiro" },
  { file: "sra-do-sameiro.jpg", alt: "Senhora do Sameiro" },
  { file: "sra-do-sameiro1.jpg", alt: "Senhora do Sameiro" },
  { file: "sta-de-sacos.jpg", alt: "Sta de Sacos" },
  { file: "virgen-da-barca.png", alt: "Virgen da Barca" },
  { file: "virxen da barca.png", alt: "Virxen da Barca" },
];
---

<h2 class="main__h2">GALERÍA</h2>
<div class="galery">
  {religiousImages.map(({ file, alt }) => (
    <ImageGallery image={`img/religioso/${file}`} text={alt} alt={alt} />
  ))}
</div>

<style>
  .galery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__h2 {
    font-family: var(--font-secondary);
    font-size: 3rem;
    margin-top: 3rem;
    text-align: center;
  }
</style>
