---
import ImageGallery from "../ui/ImageGallery.astro";
---
<h2 class="main__h2">GALERÍA</h2>
<div class="galery">
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
  <ImageGallery image="img/image.png" text="Lorem ipsum" alt="image" />
</div>
<style>
  .galery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__h2 {
    font-family: var(--font-secondary);
    margin-top: 2rem;
    text-align: center;
  }
</style>
