---
import ImageGallery from "../ui/ImageGallery.astro";

const religiousImages = [
  {file:"aguasantas.png", alt:"Agua Santas", text:"Agua Santas"},
  {file:"aguasantas2.png", alt:"Agua Santas", text:"Agua Santas"},
  {file:"bomjesus.png", alt:"Bom Jesus", text:"Bom Jesus"},
  {file:"bomjesus1.png", alt:"Bom Jesus", text:"Bom Jesus"},
  {file:"bomjesus2.png", alt:"Bom Jesus", text:"Bom Jesus"},
  {file:"bomjesus3.png", alt:"Bom Jesus", text:"Bom Jesus"},
  {file:"bomjesus4.png", alt:"Bom Jesus", text:"Bom Jesus"},
  {file:"bomjesus5.png", alt:"Bom Jesus", text:"Bom Jesus"},
  {file:"bomjesus6.png", alt:"Bom Jesus", text:"Bom Jesus"},
  {file:"Capilla-los-Martores.jpg", alt:"Capilla-los-Martores", text:"Capilla los Martores"},
  {file:"Casa ReitoBarcia-de- Mera.jpg" , alt:"Casa-Reito-Barcia-de-Mera", text:"Casa Reito Barcia de Mera"},
  {file:"Catedral-Braga.png", alt:"Catedral-Braga", text:"Catedral Braga"},
  {file:"historiaimg.png", alt:"Historia", text:"Historia"},
  {file:"Iglesia-de-Fiaes.jpg", alt:"Iglesia-de-Fiaes", text:"Iglesia de Fiaes"},
  {file:"iglesia-iria-flavia.jpg", alt:"Iglesia-Iria-Flavia", text:"Iglesia Iria Flavia"},
  {file:"iglesia-moraime.png", alt:"Iglesia-Moraime", text:"Iglesia Moraime"},
  {file:"Iglesia-moraime2.png", alt:"Iglesia-Moraime", text:"Iglesia Moraime"},
  {file:"iglesia-mª-baños.png", alt:"Iglesia-Mª-Baños", text:"Iglesia Mª Baños"},
  {file:"los-milagros-de-amil.png", alt:"Los-Milagros-de-Amil", text:"Los Milagros de Amil"},
  {file:"milagros-de-amil.jpg", alt:"Milagros-de-Amil", text:"Milagros de Amil"},
  {file:"parroquia-dos-anxeles-brion 2.png", alt:"Parroquia-Dos-Anxeles-Brion", text:"Parroquia Dos Anxeles Brion"},
  {file:"parroquia-dos-anxeles-brion.png", alt:"Parroquia-Dos-Anxeles-Brion", text:"Parroquia Dos Anxeles Brion"},
  {file:"Parroquia_de_Santa_María_la_Antigua_de_la_Corticela.jpg", alt:"Parroquia-de-Santa-Maria-la-Antigua-de-la-Corticela", text:"Parroquia de Santa Maria la Antigua de la Corticela"},
  {file:"santa-maria-de-aguasantas.png", alt:"Santa-Maria-de-Aguasantas", text:"Santa Maria de Aguasantas"},
  {file:"Soajo.jpg", alt:"Soajo", text:"Soajo"},
  {file:"sra-da-escravitude.jpg", alt:"Sra-da-Escravitude", text:"Sra da Escravitude"},
  {file:"sra-da-franqueira.jpg", alt:"Sra-da-Franqueira", text:"Sra da Franqueira"},
  {file:"sra-da-peneda.jpg", alt:"Sra-da-Peneda", text:"Sra da Peneda"},
  {file:"sra-de-sameiro.png", alt:"Sra-de-Sameiro", text:"Sra de Sameiro"},
  {file:"sra-del-sameiro.png", alt:"Sra-del-Sameiro", text:"Sra del Sameiro"},
  {file:"sra-do-sameiro.jpg", alt:"Sra-do-Sameiro", text:"Sra do Sameiro"},
  {file:"sra-do-sameiro1.jpg", alt:"Sra-do-Sameiro", text:"Sra do Sameiro"},
  {file:"sra-do-sameiro2.png", alt:"Sra-do-Sameiro", text:"Sra do Sameiro"},
  {file:"sta-de-sacos.jpg", alt:"Sta-de-Sacos", text:"Sta de Sacos"},
  {file:"virgen-da-barca.png", alt:"Virgen-da-Barca", text:"Virgen da Barca"},
];
---

<h2 class="main__h2">GALERÍA</h2>
<div class="galery">
  {religiousImages.map((item) => (
    <ImageGallery image={"img/religioso/"+item?.file} text={item?.text} alt={item?.alt} />
  ))}
</div>

<style>
  .galery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__h2 {
    font-family: var(--font-secondary);
    font-size: 3rem;
    margin-top: 3rem;
    text-align: center;
    color: var(--color-primary);
  }
</style>
