---
import ButtonPrimary from "../ui/ButtonPrimary.astro";


---

<section class="home__hero">
    <div class="textabove">
        <h1 class="h1__hero">VIA MARIANA</h1>
        <p class="hero__p">Ruta que combina espiritualidad, natureza, patrimonio e identidad rural.</p>
        <ButtonPrimary/>
      </div>
</section>

<style>
    .home__hero{
  display: flex;
  background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.35) 100%), url(/img/santuario-bom-jesus.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.textabove{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0px 10%;
}

h1{
  font-family: var(--font-primary);
  font-size: 80px;
  font-weight: 500;
  color: var(--light);
  text-align: center;
  margin: 0px;
 }

h2{
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  color: var(--light);
  text-align: justify;
 
}

.hero__p{
  font-size: 24px;
  font-family: var(--font-secondary);
  font-weight: 800;
  color: var(--light);
  text-align: justify;
  margin-top: 0px;
}
</style>
