---

---

<section>
    <div class="div-hp">
        <h2 class="h2-1">TESTIMONIO DE ESTA EXPERIENCIA</h2>
        <p class="p-1">Escuche a los viajeros que descubrieron la ruta y momentos inolvidables en Via Mariana.</p>
    </div>
    <div class="centro">
        <div class="slider-container">
            <button id="prev">
                <img class="flechas" src="../img/arrow_blue_r.png" alt="flecha">
            </button>
            <div class="slider">
                <div class="track" id="track">
                    <div class="card">
                        <div class="div-estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                        </div>
                        <p class="slider-p">Via Mariana es lo más y me encanta.</p>
                        <div class="div-perfil">
                            <img class="perfil-f" src="../img/foto_perfil.png" alt="Perfil">
                            <div>
                                <p class="perfil-n">Sara Martínez</p>
                                <p class="perfil-p">Betanzos</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="div-estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                        </div>
                        <p class="slider-p">Via Mariana es lo más y me encanta.</p>
                        <div class="div-perfil">
                            <img class="perfil-f" src="../img/foto_perfil.png" alt="Perfil">
                            <div>
                                <p class="perfil-n">Sara Martínez</p>
                                <p class="perfil-p">Betanzos</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="div-estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                        </div>
                        <p class="slider-p">Via Mariana es lo más y me encanta.</p>
                        <div class="div-perfil">
                            <img class="perfil-f" src="../img/foto_perfil.png" alt="Perfil">
                            <div>
                                <p class="perfil-n">Sara Martínez</p>
                                <p class="perfil-p">Betanzos</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="div-estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                        </div>
                        <p class="slider-p">Via Mariana es lo más y me encanta.</p>
                        <div class="div-perfil">
                            <img class="perfil-f" src="../img/foto_perfil.png" alt="Perfil">
                            <div>
                                <p class="perfil-n">Sara Martínez</p>
                                <p class="perfil-p">Betanzos</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="div-estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                            <img class="estrella" src="../img/estrella.png" alt="estrella">
                        </div>
                        <p class="slider-p">Via Mariana es lo mas y me encanta.</p>
                        <div class="div-perfil">
                            <img class="perfil-f" src="../img/foto_perfil.png" alt="Perfil">
                            <div>
                                <p class="perfil-n">Sara Martínez</p>
                                <p class="perfil-p">Betanzos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="next">
                <img class="flechas" src="../img/arrow_blue.png" alt="flecha">
            </button>
        </div>
    </div>
</section>

<style>
    button {
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        background: transparent;
        border: transparent;
    }

    .div-hp {
        margin: 150px 0px 80px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
    }

    .h2-1 {
        max-width: 405px;
        color: var(--color-primary);
        font-family: var(--font-secondary);
        font-size: 21px;
        text-align: center;
    }

    .p-1 {
        max-width: 445px;
        color: var(--grey);
        font-family: var(--font-tertiary);
        font-size: 14px;
        text-align: center;
        font-weight: 400;
    }

    .centro {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-container {
        padding-bottom: 40px;
        width: 70%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .slider {
        overflow: hidden;
    }

    .track {
        display: flex;
        transition: transform 0.4s ease;
    }

    .card {
        width: 200px;
        margin-right: 10px;
        background: var(--light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 300px;
    }

    .div-estrella {
        padding: 0px 30px 0px 30px;
    }

    .estrella {
        width: 10px;
        height: 10px;
    }

    .slider-p {
        padding: 20px 30px;
        color: var(--grey);
        font-family: var(--font-primary);
        font-size: 15px;
    }

    .div-perfil {
        padding: 0px 30px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .perfil-f {
        width: 30px;
        height: 30px;
    }

    .perfil-n {
        color: var(--color-primary);
        font-family: var(--font-secondary);
        font-size: 10px;
    }

    .perfil-p {
        color: var(--grey);
        font-family: var(--font-secondary);
        font-size: 10px;
    }

    @media (max-width: 768px) {
        .div-hp {
            flex-direction: column;
            gap: 40px;
        }
    }

    @media (max-width: 480px) {
        .div-hp {
            flex-direction: column;
            gap: 40px;
        }

        .p-1 {
            max-width: 400px;
        }
    }
</style>

<script is:inline>
    const track = document.getElementById("track");
    const cards = document.querySelectorAll(".card");

    let index = 1;

    function moveSlider() {
        const cardWidth = cards[0].offsetWidth + 10;
        track.style.transform = `translateX(-${index * cardWidth}px)`;
    }

    moveSlider();

    document.getElementById("next").onclick = () => {
        index++;
        track.style.transition = "transform 0.4s ease";
        moveSlider();
    };

    document.getElementById("prev").onclick = () => {
        index--;
        track.style.transition = "transform 0.4s ease";
        moveSlider();
    };

    track.addEventListener("transitionend", () => {
        const cardWidth = cards[0].offsetWidth + 10;

        if (index === cards.length - 1) {
            track.style.transition = "none";
            index = 1;
            track.style.transform = `translateX(-${cardWidth}px)`;
        }

        if (index === 0) {
            track.style.transition = "none";
            index = cards.length - 2;
            track.style.transform = `translateX(-${index * cardWidth}px)`;
        }
    });
</script>
