---
import HomeHero from "../components/layout/HomeHero.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import Colaboradores from "../components/layout/Colaboradores.astro";
import PopUp from "../components/layout/PopUp.astro";
import Gallery from "../components/layout/Gallery.astro";
import Testimonio from "../components/layout/Testimonio.astro";
---

<Layout>
  <Header />
  <HomeHero />
  <div class="row">
    <div class="col col--text">
      <h2 class="main__h2">Etapas</h2>
      <p class="etapas__p">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi
        reiciendis voluptate nemo ducimus deleniti tempora facilis
        exercitationem iusto? Voluptatem deleniti, tenetur commodi corrupti iure
        eligendi consectetur veniam. Aspernatur alias necessitatibus illum quia
        id explicabo assumenda accusamus sint, deserunt aliquid, quam quo?
        Adipisci cupiditate dolor impedit alias sunt facilis maiores modi?
      </p>
    </div>
    <div class="col col--img">
      <img class="img-w" src="img/mapa_2.png" alt="image" class="etapas__img" />
    </div>
  </div>
  <Gallery />
  <Testimonio />
  <Colaboradores />
  <PopUp />
  <Footer />
</Layout>

<style>
  .main__h2 {
    text-align: center;
    font-size: xx-large;
    color: var(--color-primary);
  }

  .row {
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .col {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .col--text {
    padding: 0 80px;
  }

  .col--img {
    filter: drop-shadow(10px 8px 8px rgba(0, 0, 0, 0.25));
  }

  .galery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img--galery {
    width: 80%;
    border-radius: 20px;
    transition: 1s ease-out;
  }

  .galery__img {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .img--galery:hover {
    transform: scale(1.5);
  }

  .etapas__p {
    text-align: justify;
    color: var(--grey);
  }

  @media (max-width: 1000px) {
    .img-w {
      width: 350px;
    }
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
    .col {
      width: 100%;
    }
    .col--text {
      padding: 50px 0;
    }

    .etapas__p {
      padding: 0 40px;
    }
    .etapas__img {
      width: 70%;
    }

    .col--text {
      padding: 50px 0;
    }

    .etapas__img {
      width: 70%;
    }
  }
</style>
