---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import HeroSections from "../components/layout/HeroSections.astro";
---

<Layout>
  <Header />
  <main>
    <HeroSections title="Patrimonio" />
    <div class="rectangulo">
      <h1 class="h1__patrimonio">PATRIMONIO</h1>
      <img
        class="logo__blanco"
        src="public/img/logo3.png"
        alt="logo via mariana"
      />
    </div>
    <div class="patrimonio__clasificado">
      <div class="patrimonio__portugal">
        <h3 class="h3__patrimonio">Patrimonio en Portugal</h3>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/religioso/sra-de-sameiro.png"
                  alt="imaxe de foto1"
                />
                <div class="slide-text">
                  <h4>Nossa Senhora do Sameiro</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Santuario</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    El Santuario de Nossa Senhora de Sameiro es uno de los
                    principales centros marianos de Portugal, solo por detrás
                    del Santuario de Fátima.
                  </p>
                </div>
                <div class="hover-text">
                  <a class="a__saber" href="#">Haz click para saber más</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/religioso/bomjesus2.png"
                  alt="imaxe de foto2"
                />
                <div class="slide-text">
                  <h4>Bom Jesús</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Santuario</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    Al este de la ciudad, a unos 2,5 km, está el Santuario del
                    Bom Jesus do Monte, un impresionante conjunto barroco
                    rodeado de jardines y escalinatas diseñadas por la cofradía
                    que lo gestionó desde el siglo XVI.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/religioso/santa-maria-madalena.jpg"
                  alt="imaxe de foto3"
                />
                <div class="slide-text">
                  <h4>Santa María Madalena</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Santuario</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    En la sierra de Sierra de Falperra, se encuentra la Iglesia
                    de Santa Maria Madalena, un destacado ejemplo de
                    arquitectura barroca con una decoración rica y suntuosa.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/religioso/Sé-de-Braga_660x371.jpg"
                  alt="imaxe de foto3"
                />
                <div class="slide-text">
                  <h4>Santa María de Sé de Braga</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Catedral</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    La Catedral de Braga, o Sé de Braga, es uno de los templos
                    más antiguos y emblemáticos de Portugal.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/patrimonio/rua nossa senhora do leite.jpg"
                  alt="imaxe de foto3"
                />
                <div class="slide-text">
                  <h4>Nossa Senhora do Leite</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Calle histórica</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    La R. de Nossa Sra. do Leite es una calle histórica y
                    encantadora en el centro de Braga.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/religioso/Capela-S.-Frutuoso.webp"
                  alt="imaxe de foto3"
                />
                <div class="slide-text">
                  <h4>São Fructuoso</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Capilla</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    A pesar de su tamaño reducido, destaca por su valor
                    histórico y artístico, siendo reconocida como monumento
                    nacional.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
             <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/patrimonio/ponte-de-prado.png"
                  alt="imaxe de foto3"
                />
                <div class="slide-text">
                  <h4>Vila de Prado</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Freguesía</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                   Vila de Prado es un lugar donde la tradición y la vida tranquila del campo se combinan con un
rico patrimonio cultural y arquitectónico.

                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
             <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/religioso/sao tiago 2.webp"
                  alt="imaxe de foto3"
                />
                <div class="slide-text">
                  <h4>São Tiago</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Barrio</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    São Tiago es un barrio histórico de Braga, conocido por su ambiente tradicional y su riqueza
cultural y arquitectónica.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
             <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/patrimonio/Torre_de_Penegate.JPG"
                  alt="Por Joseolgon - Obra do próprio, Domínio público, https://commons.wikimedia.org/w/index.php?curid=2715459"
                />
                <div class="slide-text">
                  <h4>Torre de Penegate</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Construcción histórica</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    La torre de Penegate es una torre medieval ubicada cerca de Braga, considerada un
importante ejemplo de arquitectura militar del norte de Portugal.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>

      <div class="patrimonio__pontevedra">
        <h3 class="h3__patrimonio">Patrimonio en Pontevedra</h3>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/foto1.png"
                  alt="imaxe de foto1"
                />
                <div class="slide-text">
                  <h4>Monasterio de Lorem</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Monasterio</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    Uno de los monumentos más emblemáticos de Portugal,
                    patrimonio histórico.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/foto2.png"
                  alt="imaxe de foto2"
                />
                <div class="slide-text">
                  <h4>Santuario de Lorem</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Santuario</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    Uno de los monumentos más emblemáticos de Portugal,
                    patrimonio histórico.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/foto3.jpg"
                  alt="imaxe de foto3"
                />
                <div class="slide-text">
                  <h4>Cruceiro de Lorem</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Cruceiro</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    Uno de los monumentos más emblemáticos de Portugal,
                    patrimonio histórico.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
      <div class="patrimonio__acorunha">
        <h3 class="h3__patrimonio">Patrimonio en A Coruña</h3>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/foto1.png"
                  alt="imaxe de foto1"
                />
                <div class="slide-text">
                  <h4>Monasterio de Lorem</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Monasterio</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    Uno de los monumentos más emblemáticos de Portugal,
                    patrimonio histórico.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/foto2.png"
                  alt="imaxe de foto2"
                />
                <div class="slide-text">
                  <h4>Cruceiro de Lorem</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Cruceiro</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    Uno de los monumentos más emblemáticos de Portugal,
                    patrimonio histórico.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <img
                  class="img"
                  src="public/img/foto3.jpg"
                  alt="imaxe de foto3"
                />
                <div class="slide-text">
                  <h4>Santuario de Lorem</h4>
                  <div class="clasificacion">
                    <p class="clasificacion__nombre">Santuario</p>
                    <div class="clasificacion__derecha">
                      <img
                        class="icon__estrella"
                        src="public/img/estrella.png"
                        alt="icon estrella"
                      />
                      <p class="clasificacion__estrellas">4.9/5.0</p>
                    </div>
                  </div>
                  <p>
                    Uno de los monumentos más emblemáticos de Portugal,
                    patrimonio histórico.
                  </p>
                  <div class="hover-text">
                    <a class="a__saber" href="#">Haz click para saber más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>

    <style>
      .rectangulo {
        width: 100%;
        height: 120px;
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
      }

      .h1__patrimonio {
        color: var(--color-tertiary);
        display: flex;
        font-family: var(--font-secundary);
        font-size: 30px;
      }

      .logo__blanco {
        width: 200px;
      }

      .patrimonio__clasificado {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        padding-bottom: 30px;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
        flex-wrap: wrap;
      }

      .img {
        width: 25vw;
        height: 280px;
        object-fit: cover;
        border-radius: 30px;
        /* transition: transform 0.3s ease; */
      }

      /* .img:hover {
            transform: scale(1.05);
            border-radius: 20px;

        } */

      .patrimonio__portugal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin-top: 30px;

        border: 3px solid var(--color-secondary);
        border-radius: 30px;
        transition: transform 0.3s ease;
      }
      .patrimonio__portugal:hover {
        transform: scale(1.05);
        border-radius: 20px;
      }
      .patrimonio__pontevedra {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin-top: 30px;

        border: 3px solid var(--color-secondary);
        border-radius: 30px;
        transition: transform 0.3s ease;
      }

      .patrimonio__pontevedra:hover {
        transform: scale(1.05);
        border-radius: 20px;
      }

      .patrimonio__acorunha {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin-top: 30px;

        border: 3px solid var(--color-secondary);
        border-radius: 30px;
        transition: transform 0.3s ease;
      }

      .patrimonio__acorunha:hover {
        transform: scale(1.05);
        border-radius: 20px;
      }

      .h3__patrimonio {
        display: flex;
        text-align: center;
        align-self: center;
        font-family: var(--font-secundary);
        color: var(--color-primary);
        font-size: 25px;
        margin-bottom: 0.8rem;
      }

      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }

      .swiper {
        width: 26vw;
        height: auto;
      }

      .swiper-button-next {
        color: var(--color-secondary);
        font-weight: bold;
      }

      .swiper-pagination {
        margin-top: 10px;
        position: static;
        text-align: center;
      }

      .swiper-button-prev {
        color: var(--color-secondary);
        font-weight: bold;
      }

      .slide-text {
        text-align: center;
        margin-top: 10px;
        color: var(--color-primary);
      }

      .slide-text h4 {
        margin: 8px;
        font-size: 22px;
        font-family: var(--font-secundary);
      }

      .slide-text p {
        margin: 5px 0 0 0;
        font-size: 14px;
        font-family: var(--font-secundary);
      }

      .slide-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .clasificacion {
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .clasificacion__nombre {
        color: var(--color-secondary);
        font-family: var(--font-secundary);
        font-size: 24px;
        font-weight: 500;
      }
      .icon__estrella {
        width: 15px;
        height: 15px;
        color: var(--color-secondary);
      }
      .clasificacion__estrellas {
        color: var(--color-secondary);
        font-family: var(--font-secundary);
        font-size: 20px;
        font-weight: 500;
      }
      .clasificacion__derecha {
        display: flex;
        justify-content: start;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

      .hover-text {
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.6);
        color: var(--color-tertiary);
        padding: 10px 15px;
        border-radius: 10px;
        font-family: var(--font-secundary);
        font-size: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
      }

      .slide-content:hover .hover-text {
        opacity: 1;
      }

      .a__saber {
        text-decoration: none;
        color: var(--color-tertiary);
      }

      @media (max-width: 1125px) {
        .swiper {
          width: 40vw;
          height: auto;
        }
        .img {
          width: 40vw;
        }
      }

      @media (max-width: 780px) {
        .swiper {
          width: 60vw;
          height: auto;
        }
        .img {
          width: 60vw;
          margin-top: 0.8rem;
        }
      }

      @media (max-width: 480px) {
        .swiper {
          width: 60vw;
          height: auto;
        }
        .img {
          width: 60vw;
        }
      }
    </style>

    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        const swipers = document.querySelectorAll(".mySwiper");

        swipers.forEach((swiperEl) => {
          new Swiper(swiperEl, {
            speed: 500,
            loop: true,
            spaceBetween: 30,
            pagination: {
              el: swiperEl.querySelector(".swiper-pagination"),
              clickable: true,
            },
            navigation: {
              nextEl: swiperEl.querySelector(".swiper-button-next"),
              prevEl: swiperEl.querySelector(".swiper-button-prev"),
            },
          });
        });
      });
    </script>
  </main>
  <Footer />
</Layout>
