---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
---

<Layout>
    <Header />
    <div class="politicas">
        <div>
            <h2 class="politicas-h2">1-Responsable del Tratamiento</h2>
            <p class="politicas-p">
                -Identidad: [Nombre completo o Razón Social]
            </p>
            <p class="politicas-p">
                -NIF/CIF: [Número de identificación fiscal]
            </p>
            <p class="politicas-p">-Dirección: [Dirección física]</p>
            <p class="politicas-p">-Correo electrónico: [Email]</p>
        </div>
        <div>
            <h2 class="politicas-h2">2-Datos que Recopilamos</h2>
            <p class="politicas-encabezado">
                Recopilamos la información que nos facilitas directamente a
                través de:
            </p>
            <p class="politicas-p">
                -Formularios de contacto: [Nombre, email, etc.]
            </p>
            <p class="politicas-p">
                -Navegación: Cookies y datos técnicos como tu dirección IP.
            </p>
        </div>
        <div>
            <h2 class="politicas-h2">3-Finalidad del Tratamiento</h2>
            <p class="politicas-encabezado">Usamos tus datos para:</p>
            <p class="politicas-p">-Gestionar tus consultas y solicitudes.</p>
            <p class="politicas-p">
                -Procesar pedidos y garantizar la entrega de servicios.
            </p>
            <p class="politicas-p">
                -Mejorar la experiencia de usuario en nuestra web.
            </p>
        </div>
        <div>
            <h2 class="politicas-h2">4-Base Legal</h2>
            <p class="politicas-encabezado">
                Tratamos tus datos basándonos en:
            </p>
            <p class="politicas-p">
                -Tu consentimiento: Al marcar las casillas de aceptación.
            </p>
            <p class="politicas-p">
                -Ejecución de un contrato: Para entregarte un producto o
                servicio que has comprado.
            </p>
            <p class="politicas-p">
                -Cumplimiento legal: Cuando la ley nos obliga a guardar ciertos
                datos.
            </p>
        </div>
        <div>
            <h2 class="politicas-h2">5-Destinatarios de los Datos</h2>
            <p class="politicas-encabezado">
                Tus datos no se venderán a terceros. Sin embargo, pueden ser
                compartidos con proveedores necesarios para nuestro
                funcionamiento:
            </p>
            <p class="politicas-p">-Hosting: [Nombre del proveedor].</p>
            <p class="politicas-p">-Pasarelas de Pago: [ ].</p>
            <p class="politicas-p">-Herramientas de Análisis: [ ].</p>
        </div>
        <div>
            <h2 class="politicas-h2">6-Tus Derechos</h2>
            <p class="politicas-encabezado">
                Tienes derecho a acceder, rectificar, suprimir o limitar el uso
                de tus datos. Para ejercer estos derechos, envía un correo a [Tu
                Email de Privacidad] adjuntando una copia de tu documento de
                identidad para verificar tu titularidad.
            </p>
        </div>
        <div>
            <h2 class="politicas-h2">7-Conservación de Datos</h2>
            <p class="politicas-encabezado">
                Mantendremos tus datos personales solo durante el tiempo
                necesario para las finalidades descritas o hasta que nos
                solicites su eliminación, salvo que exista una obligación legal
                de conservarlos.
            </p>
        </div>
    </div>
    <Footer />
</Layout>

<style>
    .politicas {
        margin-left: auto;
        margin-right: auto;
        padding: 40px 0px;
        width: 90%;
    }

    .politicas-h2 {
        padding: 15px 0px;
        color: var(--dark);
        font-family: var(--font-tertiary);
    }

    .politicas-encabezado {
        padding-bottom: 10px;
        color: var(--grey);
        font-family: var(--font-tertiary);
    }

    .politicas-p {
        padding-bottom: 10px;
        color: var(--grey);
        font-family: var(--font-tertiary);
    }
</style>
