---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="div-hp">
        <h2 class="h2-1">Testimonios de esta experiencia</h2>
        <p class="p-1">Escuche a los viajeros que descubrieron la ruta y momentos inolvidables en Via Mariana.</p>
    </div>
    <div class="centro">
        <div class="slider-container">
            <button id="prev">
                <img class="flechas" src="./img/flecha-2.png" alt="flecha">
            </button>
            <div class="slider">
                <div class="track" id="track">
                    <div class="card">
                        <div class="div-star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                        </div>
                        <p class="slider-p">Via Mariana es lo más y me encanta.</p>
                        <div class="div-perfil">
                            <img class="perfil-f" src="./img/Perfil.png" alt="Perfil">
                            <div>
                                <p class="perfil-n">Sara Martínez</p>
                                <p class="perfil-p">Betanzos</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="div-star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                        </div>
                        <p class="slider-p">Via Mariana es lo más y me encanta.</p>
                        <div class="div-perfil">
                            <img class="perfil-f" src="./img/Perfil.png" alt="Perfil">
                            <div>
                                <p class="perfil-n">Sara Martínez</p>
                                <p class="perfil-p">Betanzos</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="div-star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                        </div>
                        <p class="slider-p">Via Mariana es lo más y me encanta.</p>
                        <div class="div-perfil">
                            <img class="perfil-f" src="./img/Perfil.png" alt="Perfil">
                            <div>
                                <p class="perfil-n">Sara Martínez</p>
                                <p class="perfil-p">Betanzos</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="div-star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                        </div>
                        <p class="slider-p">Via Mariana es lo más y me encanta.</p>
                        <div class="div-perfil">
                            <img class="perfil-f" src="./img/Perfil.png" alt="Perfil">
                            <div>
                                <p class="perfil-n">Sara Martínez</p>
                                <p class="perfil-p">Betanzos</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="div-star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                            <img class="star" src="./img/Star.png" alt="star">
                        </div>
                        <p class="slider-p"> Via Mariana es lo más y me encanta.</p>
                        <div class="div-perfil">
                            <img class="perfil-f" src="./img/Perfil.png" alt="Perfil">
                            <div>
                                <p class="perfil-n">Sara Martínez</p>
                                <p class="perfil-p">Betanzos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="next">
                <img class="flechas" src="./img/flecha-1.png" alt="flecha">
            </button>
        </div>
    </div>
</Layout>

<style>
    button {
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        background: transparent;
        border: transparent;
    }

    .div-hp {
        margin: 150px 110px 75px 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
    }

    .h2-1 {
        max-width: 405px;
        max-height: 120px;
        color: var(--dark);
        font-family: var(--font-primary);
        font-size: 48px;
    }

    .p-1 {
        max-width: 445px;
        max-height: 100px;
        color: var(--grey);
        font-family: var(--font-primary);
        font-size: 30px;
    }

    .centro {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-container {
        margin: auto;
        width: 90%;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .slider {
        overflow: hidden;
        width: 100%;
    }

    .track {
        display: flex;
        transition: transform 0.4s ease;
    }

    .card {
        margin-right: 10px;
        background: var(--light);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        flex: 0 0 600px;
        font-size: 30px;
    }

    .div-star {
        padding: 0px 30px 0px 30px;
    }

    .star {
        width: 30px;
        height: 30px;
    }

    .slider-p {
        padding: 80px 30px;
        color: var(--grey);
        font-family: var(--font-primary);
        font-size: 32px;
    }

    .div-perfil {
        padding: 0px 30px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .perfil-f {
        width: 50px;
        height: 50px;
    }

    .perfil-n {
        width: 147px;
        height: 26px;
        color: var(--color-primary);
        font-family: var(--font-secondary);
        font-size: 20px;
    }

    .perfil-p {
        width: 130px;
        height: 26px;
        color: var(--grey);
        font-family: var(--font-secondary);
        font-size: 20px;
    }
</style>

<script client:true;>
    const track = document.getElementById("track");
    const cards = document.querySelectorAll(".card");

    let index = 1;

    function moveSlider() {
        const cardWidth = cards[0].offsetWidth + 10;
        track.style.transform = `translateX(-${index * cardWidth}px)`;
    }

    moveSlider();

    document.getElementById("next").onclick = () => {
        index++;
        track.style.transition = "transform 0.4s ease";
        moveSlider();
    };

    document.getElementById("prev").onclick = () => {
        index--;
        track.style.transition = "transform 0.4s ease";
        moveSlider();
    };

    track.addEventListener("transitionend", () => {
        const cardWidth = cards[0].offsetWidth + 10;

        if (index === cards.length - 1) {
            track.style.transition = "none";
            index = 1;
            track.style.transform = `translateX(-${cardWidth}px)`;
        }

        if (index === 0) {
            track.style.transition = "none";
            index = cards.length - 2;
            track.style.transform = `translateX(-${index * cardWidth}px)`;
        }
    });
</script>
