---

---

<a href="#" class="secondary__a">Saber mas</a>

<style>
    .secondary__a{
        background: rgba(239, 185, 31, 1);
        border: none;
        border-radius: 50px;
        padding: 0.8rem 2em;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        text-align: start;
        margin-left: 20px;
        color: white;
        text-decoration: none;
    }
</style>