---

---

<button>
    <p class="button__p">Explorar más</p> 
    <img src="./assets/Vector (1).png" alt="vector">

</button>

<style>
    
  .button__explorar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 222px;
    height: 65px;
    border: 2px solid rgba(222, 222, 222, 1);
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 1);
/* filter: blur( 15px ); */

}

.button__p{
width: 136px;
height: 25px;
color: rgba(0, 55, 143, 1);
font-size: 20px;
font-weight: 500;
font-style: medium;

}

</style>