---

---

    <button class="button__primary">
<img class="icon__default" src="public/img/Play.svg" alt="vector">
<img class="icon__hover" src="public/img/Play-Blue.svg" alt="vector blue">  Ver Vídeo
    </button>

    <style>
        .button__primary{
display: flex;
justify-content: start;
align-items: center;
padding-left: 25px;
width: 180px;
height: 50px;
margin-top: 10px;
gap: 10px;
border:none;
border-radius: 999px;
background-color: var(--color-primary);
font-size: 18px;
color: var(--color-tertiary);
font-family: var(--font-secondary);

}
.icon__hover {
  display: none;
}

.button__primary:hover .icon__default {
  display: none;
}

.button__primary:hover .icon__hover {
  display: block;
}
.button__primary:hover{
  background-color: var(--color-secondary);
  color: var(--color-primary);

}
    </style>