---

---

<button class="button__contacto">Contacto</button>

<style>

@font-face {
    font-family: Poppins-Medium;
    src: url(public/fonts/Poppins-Medium.ttf);
}

:root{
    --font-primary:Poppins-Medium;
}

.button__contacto{
    width: 146px;
    height: 63px;
    background: rgba(0, 55, 143, 1);
    border-radius: 99px;
    color: white;
    font-family: var(--font-primary);
    font-size: 12px;
}
    
</style>