---

---

<button>
    <p>Saber más</p>
</button>

<style>
    @font-face {
        font-family: OpenSans;
        src: url(fonts/OpenSans-VariableFont.ttf);
    }

    *{
        font-family: OpenSans;
    }

    button {
        background: rgba(239, 185, 31, 1);
        border: none;
        border-radius: 50px;
        width: 290px;
        height: 67px;
    }
    p{
        font-size: 1.5em;
        font-weight: 600;
        text-align: start;
        margin-left: 20px;
        color: white;
    }
</style>