---

---

    <a class="button__primary">
<img src="public/img/vector triangulo video.png" alt="vector">  Ver Vídeo
    </a>

    <style>
        .button__primary{
display: flex;
justify-content: start;
align-items: center;
padding-left: 35px;
width: 303px;
height: 67px;
gap: 10px;
border: 1px solid var(--color-tertiary);
border-radius: 999px;
background-color: var(--color-tertiary);
font-size: 20px;
color: var(--grey);

}
    </style>