---
---

    <div class="CardBox">
        <div class="icon">
            <img src="public/img/Icon sofa.png" alt="icono" >
        </div>
        <div class="textos">
            <p class="texto__azul">Lorem ipsun</p>
            <p class="texto__gris">Sip handcrafted cocktails as the sun sets</p>
        </div>


</div>

<style>
    @font-face {
        font-family:Poppins-Medium ;
        src: url(public/OpenSans-Medium.ttf);
    }
    @font-face {
        font-family:OpenSans-Medium ;
        src: url(public/OpenSans-Medium.ttf);
    }

    .CardBox{
display: flex;
align-items: center;
gap: 50px;
font-family: Poppins-Medium;
padding: 25px;
width: 697px;
height: 134px;
border-radius: 25px;
background-color: rgba(255, 255, 255, 1);

}
.texto__azul{
  font-size: 24px;
color: rgba(0, 55, 143, 1);

}
.texto__gris{
    font-size: 20px;
color: rgba(127, 127, 127, 1);
font-family: OpenSans-Medium;

}
</style>