---

---


 <section class="proyect">
    <div class="picture">
        <img src="public/img/Picture.png" alt="" class="img">
    </div>
    <container class="container">
        <div class="textos">
            <h1 class="textos__h1">EL PROYECTO</h1>
            <h2 class="textos__h2">Una experiencia inolvidable</h2>
            <p class="textos__p">Una ruta que recorre santuarios marianos desde Braga hasta Muxía, uniendo naturaleza y
                devoción en cada etapa.</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="cardproyect">
                    <div class="circle">
                        <img src="public/img/Vector.png" alt="vector" class="vector">
                    </div>
                    <div class="text">
                        <h2 class="cardproyect__h2">Lorem ipsum</h2>
                        <p class="cardproyect__p">Sip handcrafted cocktails as the sun sets over the city. Our rooftop offers panoramic views.
                        </p>
                    </div>
                </div>
                <div class="cardproyect">
                    <div class="circle">
                        <img src="public/img/Vector.png" alt="vector" class="vector">
                    </div>
                    <div class="text">
                        <h2 class="cardproyect__h2">Lorem ipsum</h2>
                        <p class="cardproyect__p">Sip handcrafted cocktails as the sun sets over the city. Our rooftop offers panoramic views.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="cardproyect">
                    <div class="circle">
                        <img src="public/img/Vector.png" alt="vector" class="vector">
                    </div>
                    <div class="text">
                        <h2 class="cardproyect__h2">Lorem ipsum</h2>
                        <p class="cardproyect__p">Sip handcrafted cocktails as the sun sets over the city. Our rooftop offers panoramic views.
                        </p>
                    </div>
                </div>
                <div class="cardproyect">
                    <div class="circle">
                        <img src="public/img/Vector.png" alt="vector" class="vector">
                    </div>
                    <div class="text">
                        <h2 class="cardproyect__h2">Lorem ipsum</h2>
                        <p class="cardproyect__p">Sip handcrafted cocktails as the sun sets over the city. Our rooftop offers
                            panoramic views.</p>
                    </div>
                </div>
            </div>
        </div>
    </container>
</section>




<style>
    .proyect{
     max-width: 1857px;
    height: 1065px;
    background-color:var(--light);

    }
    .picture{
width: 641px;
height: 694px;
border-radius: 25px;
position: absolute;
top: 51px;
left: 136px;
display: flex;
    }
    .container{
        display: flex;
flex-direction: column;
gap: 50px;
width: 1200px;
height: 1034px;
position: absolute;
top: 50px;
right: 136px;
    }
.textos__h1{
    width: 793px;
height: 34px;
color: var(--grey);
font-family:var(--font-primary);
font-size: 24px;
font-weight: 400;
}
.textos__h2{
    width: 793px;
height: 61px;
color: var(--dark);
font-family: var(--font-primary);
font-size: 48px;
font-weight: 700;
font-style: bold;
gap: 50px;
}
.textos__p{
    width: 793px;
height: 68px;
color: var(--grey);
font-family:var(--font-tertiary);
font-size: 24px;
font-weight: 400;
gap: 50px;
}
.cards{
    display: flex;
flex-direction: column;
gap: 23px;
width: 787px;
height: 721px;
}
.card{
    display: flex;
gap: 50px;
width: 787px;
height: 388px;
}
.cardproyect{
    display: flex;
flex-direction: column;
gap: 25px;
padding: 35px;
width: 381px;
height: 310px;
border-radius: 25px;
background-color: var(--color-tertiary);
}
.circle{
    width: 32px;
height: 32px;
}
.cardproyect__h2{
    width: 297px;
height: 45px;
color:var(--dark);
font-family: var(--font-primary);
font-size: 32px;
font-weight: 600;
font-style: semibold;
}
.cardproyect__p{
    width: 311px;
height: 78px;
color: var(--grey);
font-family: var(--font-tertiary);
font-size: 20px;
font-weight: 500;
font-style: medium;
gap: 25px;
}

</style>