---
---

    <div class="CardBox">
        <div class="icon">
            <img src="public/img/Icon sofa.png" alt="icono" >
        </div>
        <div class="textos">
            <p class="texto__azul">Lorem ipsun</p>
            <p class="texto__gris">Sip handcrafted cocktails as the sun sets</p>
        </div>


</div>

<style>
  
    .CardBox{
display: flex;
align-items: center;
gap: 50px;
font-family: var(--font-secondary);
padding: 25px;
width: 697px;
height: 134px;
border-radius: 25px;
background-color: var(--light);

}
.texto__azul{
  font-size: 24px;
color: var(--color-primary);

}
.texto__gris{
    font-size: 20px;
color:var(--grey);
font-family: var(--font-tertiary);

}
</style>